
.table-sm td {
  padding-left: 5px;
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  vertical-align: middle;
  border-top: 0px;
  text-align: left;
}

.text-align-right {
  text-align: right !important;
}

.table thead th {
  padding-left: 4px;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 0px;
  vertical-align: middle;
  border-top: 0px;
  border-bottom: 5px solid white;
  text-align: left;
}

@mixin report-table-body-ezuce {
  text-align: center;
  font-size: 10px;
  line-height: 100%;
  font-weight: normal;
  color: black;
  display: table-cell;
  vertical-align: middle;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  height: 29px;
  min-height: 29px !important;
}

.table-body-blue {
  @include report-table-body-ezuce;
  background: #DBEFFA;
}

.table-body-blue-last-in-group {
  @include report-table-body-ezuce;
  background: #DBEFFA;
  border-right: 7px solid white;
}

.table-body-green {
  @include report-table-body-ezuce;
  background: #E2FADA;
}

.table-body-orange {
  @include report-table-body-ezuce;
  background: #FFE7C3;
}

.table-body-orange-dark {
  @include report-table-body-ezuce;
  background: #FCD081;
}

@mixin table-header-ezuce {
  text-align: left;
  font-size: 8px;
  font-weight: normal;
  color: black;
  line-height: 100%;
  border-top: 0px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  width: 60px;
  height: 25px;
  min-height: 25px !important;
  background: #E6E6E6;
}

.table-header {
  @include table-header-ezuce;
}

.table-header-group {
  @include table-header-ezuce;
  font-size: 11px;
  padding: 0px 4px 0px 4px;
  vertical-align: middle;
  border-top: 0px;
  height: 30px;
  min-height: 30px !important;
  border-bottom: 7px solid white;
  border-right: 7px solid white;
  text-align: left;
}

.report-headers {
  text-align: left;
  font-size: 11px;
  font-weight: bolder;
  padding: 0px 4px 0px 8px;
  color: black;
  line-height: 100%;
  border: 0;
  height: 30px;
  min-height: 30px !important;
  background: #E6E6E6;
}

@mixin report-header {
  padding-left: 2px;
  vertical-align: middle;
  line-height: 100%;
  text-align: left;

}

.report-title {
  @include report-header;
  font-size: 20px;
  height: 26px;
  min-height: 26px !important;
  max-height: 26px !important;
}

.datetime-info {
  @include report-header;
  font-size: 13px;
  height: 17px;
  min-height: 17px !important;
  max-height: 17px !important;
}

.timezone-info {
  @include report-header;
  font-size: 10px;
  height: 15px;
  min-height: 15px !important;
  max-height: 15px !important;
}

.table-header-last-in-group {
  @include table-header-ezuce;
  border-right: 7px solid white;
}
